body,html{
 background-color: lightblue;

}

h1 { /* ID? */
color: white;
font-size: 50px;
transition: 0.5s;
}
h1:hover{
  color: black;
}
.container main{ 
  padding-left: 20vw;
}
.blurb{ /* class */
  color:black;
  padding-left: 1vw;
}
.main{
  padding-left: 30vw;
  padding-top: 35vh;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: whitesmoke;
  border-radius: 70%; 
  position: absolute;
  top: 30vh;
  left: 20vw;
  border:4px solid grey;
}
.fa-facebook-square{
  color:white;
  transition: 0.3s;
}
.fa-facebook-square:hover{
  color:black;
}
.fa-linkedin{
  color: white;
  transition: 0.3s;
  padding-left: 20px;
}
.fa-linkedin:hover{
  color:black;
}
.fa-instagram{
  color: white;
  transition: 0.3s;
  padding-left: 20px;
}
.fa-instagram:hover{
  color:black;
}
.fa-file-pdf{
  color: white;
  transition: 0.3s;
  padding-left: 20px;
}
.fa-file-pdf:hover{
  color:black;
}