body,html{
 background-color: lightblue;

}

h1 { /* ID? */
color: white;
font-size: 50px;

}
.container main{ 
  padding-left: 20vw;
}
.blurb{ /* class */
  color:black;
  padding-left: 1vw;
}
.main{
  padding-left: 30vw;
  padding-top: 35vh;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: whitesmoke;
  border-radius: 70%; 
  position: absolute;
  top: 30vh;
  left: 20vw;
  border:4px solid grey;

}